.create-account-back {
  background-color: #ebf2fa;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: start;
}
@media screen and (max-width: 800px) {
  .create-account-back {
    // display: grid; /* The width is 100%, when the viewport is 800px or smaller */
    justify-content: center;
  }
}
.left-panel {
  width: 50%;
  height: 100vh;
  background-color: #679436;
}
@media screen and (max-width: 800px) {
  .left-panel {
    width: 0%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.right-panel {
  width: 50%;
  height: 100vh;
}
@media screen and (max-width: 800px) {
  .right-panel {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.create-account-form-base {
  width: 75%;
  height: 85%;
  position: relative;
  margin: auto;
  top: 7.5%;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-label {
  text-align: start;
  width: 75%;
  position: relative;
  margin: auto;
  font-size: 1em;
  direction: ltr;
}
.form-inputs {
  text-align: start;
  width: 95%;
  border: none;
}
.form-hr {
  border: 1px solid black;
}
.form-btn {
  width: 100%;
  height: 2.5em;
  border-radius: 30px;
  position: relative;
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #a5be00;
  border: none;
}
.red-text {
  color: #ff0000;
}
.create-header {
  text-align: center;
  font-size: 2rem;
}
